body {
  width: 1050px;
  height: 550px;
}

#game {
  display: inline-block;
  width: 502x;
  height: 500px;
  border: 1px solid gray;
}

#neat-container {
  display: inline-block;
  vertical-align: top;
  width: 502px;
  height: 500px;
}

#neat-ui {
  height: 400px;
  border: 1px solid gray;
}

#controls {
  height: 96px;
  border: 1px solid gray;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 12px;
  overflow: auto;
}

.control {
  display: inline-block;
  padding: 5px;
  width: 110px;
}

.control .control-label {
  display: inline-block;
  width: 80px;
  
}
.control .control-input {
  display: inline-block;
  width: 20px;
}